/*Input Styles*/
.inputParent {
	margin: 18px 0;
	background-color: #eff0f6;
	height: 63px;
	/* height: 10vh; */
	width: 100%;
	border: 2px solid transparent;
	border-radius: 10px;
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
	transition: 0.3s border ease;
	/* transition: border 0.5s ease; */
}
.inputParent:hover {
	border: 2px solid #602eea70;
}

.inputParent:focus-within {
	background-color: transparent;
	border: 2px solid #5f2eea;
	/* transition: border 0.3s ease-in; */
}

.formInput {
	border: none;
	background: transparent;
	outline: none;
	font-size: 14px;
	font-family: inherit;
	font-weight: 500;
	color: #000;
	margin: 0;
	width: 100%;
	height: 20px;
	padding: 0;
	position: relative;
}

.formInput:focus {
	border: none;
}

.formInput::placeholder {
	color: #6e7191;
	border: none;
}

svg{
	color:#A0A3BD;
	height: 3vh;
	margin: 0 20px;
}

.inputHeading {
	font-size: 13px;
	color: #6e7191;
}
