.questionComponent {
	margin-bottom: 4vh;
	display: flex;
	flex-direction: column;
	max-height: 40vh;
	padding-bottom: 3vh;
	overflow-y: hidden;
	overflow-x: hidden;
	position: relative;
}

.questionHeading {
	font-weight: 700;
	font-size: 2.2vh;
	margin-bottom: 1vh;
	/* margin-top: 2vh; */
}
.questionDescription {
	text-align: justify;
	font-weight: 400;
	font-size: 1.5vh;
	letter-spacing: 0.1vh;
	color: var(--secondary-font-color);
	max-height: 7vh;
	margin-bottom: 3vh;
}

.content {
	margin: 4.5vh 5vh;
}
.user {
	display: flex;
	margin-bottom: 2vh;
	transition: color 0.2s ease;
}

.userPhoto {
	border-radius: 1000%;
	width: 6vh;
	height: 6vh;
}

.name {
	color: #6e7191;
	font-weight: 600;
	font-size: 1.6vh;
	letter-spacing: 0.2vh;
	margin: 0 2vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.date {
	font-weight: 500;
	letter-spacing: 0.2vh;
	font-size: 1.2vh;
}

.filterBg {
	position: absolute;
	bottom: 3vh;
	user-select: none;
	height: 4vh;
	width: 15vh;
	background: transparent;
	border-radius: 1.2vh;
	letter-spacing: 0.2vh;
	font-size: 1.2vh;
	color: #5f2eea;
	background: var(--background-color);
	border: 1px solid var(--second-button);
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background 0.3s ease;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px;
}

.filterBg:active {
	box-shadow: none;
}

.filterIcon {
	width: 2vh;
}

.options {
	display: flex;
	align-items: center;
	position: absolute;
	height: 3vh;
	right: 4vh;
	top: 4vh;
	cursor: pointer;
	user-select: none;
}

.icons {
	display: flex;
	align-items: center;
	position: absolute;
	font-weight: 500;
	right: 4vh;
	bottom: 4vh;
}

.icons * {
	margin-left: 1vh;
	height: 3vh;
}

.moreOptions {
	background-color: var(--background-color);
	padding: 1.5vh 1vh;
	border-radius: 1vh;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #602eea93;
	box-shadow: var(--shadow);
}

.moreOptions svg {
	color: var(--font-color);
	width: 2.2vh;
	margin: 0 1vh;
}
.moreOptions svg > * {
	color: inherit;
}
.moreOptions svg:hover > * {
	color: #5f2eea;
}
.redClass:active > * {
	color: rgb(226, 104, 104) !important;
}
.blueClass:active > * {
	color: rgb(28, 198, 228) !important;
}

@media screen and (max-width: 500px) {
	.lastName {
		display: none;
	}
}

.wc-toast-bar {
	border: 2px solid red !important;
}

.removeWid {
	display: flex;
	align-items: center;
	justify-content: center;
}

.name > a {
	color: var(--font-color);
	transition: color 0.2s ease;
}

.name:hover > a {
	color: #7f53f7;
}

.tags {
	display: flex;
	margin-left: 0;
	align-items: row;
	flex-wrap: wrap;
}

.tag {
	font-weight: 600;
	font-size: 1.2vh;
	padding: 5px 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	background-color: var(--color);
	color: white;
	border-radius: 100px;
	display: flex;
	align-items: center;
}
