.settingsCard {
	display: flex;
}

.settingsForm {
	width: 100%;
	margin: 55px;
}

.heading2{
	margin-top: 2vh;
}

.settingsName {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.nameSize {
	width: 55%;
	margin-bottom: -18px;
}
