.sidebarContainer {
	position: fixed;
	left: 5vh;
	top: 4vh;
	z-index: 500;
}

.sidebarComponent {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 34vh;
	height: 92vh;
	background-color: #fff;
}

.logo {
	margin-top: 3vh;
	width: 80%;
}

.userCard {
	width: 90%;
	height: 9vh;
	position: absolute;
	bottom: 2.5%;
	display: flex;
	align-items: center;
}

.userPhoto {
	border-radius: 1000%;
	width: 6vh;
	height: 6vh;
	margin: 0 0 0 2vh;
}

.name {
	margin: 0 auto;
	color: #6e7191;
	font-weight: 600;
	font-size: 1.8vh;
	letter-spacing: 0.2vh;
}
.eventCard {
	margin: 3vh 0;
	width: 75%;
	aspect-ratio: 1 / 1;
}
.sidebarLink {
	display: flex;
	align-items: center;
	width: 70%;
	font-weight: 500;
	font-size: 2vh;
	letter-spacing: 0.2vh;
	margin: 1vh 0;
}

.iconSmaller {
	width: 2.3vh;
	margin: 0 2vh 0 2vh;
}
