.sidebarContainer {
	position: fixed;
	left: 5vh;
	top: 4vh;
	z-index: 200;
}

.sidebarComponent {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 34vh;
	height: 92vh;
}

.logo {
	margin-top: 3vh;
	width: 80%;
}

.userCard {
	width: 90%;
	height: 9vh;
	position: absolute;
	bottom: 2.5%;
	display: flex;
	align-items: center;
}

.userPhoto {
	border-radius: 1000%;
	width: 6vh;
	height: 6vh;
	margin: 0 0 0 2vh;
	padding: 5px;
}

.name {
	margin: 0 auto;
	color: #6e7191;
	font-weight: 600;
	font-size: 1.8vh;
	letter-spacing: 0.2vh;
}
.eventCard {
	margin: 3vh 0;
	width: 75%;
	aspect-ratio: 1 / 1;
}
.sidebarLink {
	display: flex;
	align-items: center;
	width: 70%;
	font-weight: 500;
	font-size: 2vh;
	letter-spacing: 0.2vh;
	margin: 1vh 0;
	color: black;
	transition: color 0.2s ease;
}

.sidebarLink:hover {
	color: #7f53f7;
}

.sidebarLink:hover > .iconSmaller {
	color: #7f53f7;
}

.iconSmaller {
	width: 2.3vh;
	margin: 0 2vh 0 2vh;
}

.unhide {
	display: none;
}

@media screen and (max-width: 900px) {
	.hide {
		display: none;
	}
	.unhide {
		display: block;
	}
	.eventCard {
		display: none;
	}
	.logo {
		display: none;
	}
	.userCard {
		display: flex;
		align-items: center;
		justify-content: center;
		width: auto;
		height: auto;
		padding: 5px;
		border-radius: 100% !important;
		bottom: calc(2vh - 4px);
		border: 2px solid #7f53f7 !important;
	}

	.userPhoto {
		margin: 0;
		width: 5vh;
		height: 5vh;
	}

	.sidebarContainer {
		left: 0;
		bottom: 0;
		top: auto;
		width: 100vw;
	}
	.sidebarComponent {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 10vh;
		background-color: #fff;
		border-radius: 0 !important;
		border-top-left-radius: 15px !important;
		border-top-right-radius: 15px !important;
		box-shadow: rgb(149 157 165 / 80%) 0px 8px 24px !important;
	}

	.sidebarLink {
		width: auto;
		margin: 0 1.5vw;
	}
}
