:root {
	background-color: #fcfcfc;
	overflow-x: hidden;
	--color: #7548f0;
	/* 8e69f1 */
}
body::-webkit-scrollbar {
	overflow-x: hidden;
	width: 0.5vh;
}

body::-webkit-scrollbar-thumb {
	background-color: #7653d4;
	border-radius: 20px;
}

.cardComponent {
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	border-radius: 15px;
	background-color: #fff;
}

.button {
	background: #fff;
	border: 2px solid var(--color);
	font-weight: 500;
	font-family: inherit;
	border-radius: 10px;
	padding: 15px 10px;
	color: var(--color);
	font-size: 14px;
	width: 48%;
	transition: 0.3s all ease-in-out;
	cursor: pointer;
	text-align: center;
	/* transition: 0.5s background ease-in-out;
	transition: 0.5s color ease-in-out; */
}

.button:hover {
	background: var(--color);
	color: #fff;
	cursor: pointer;
}

.buttons {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.button-full {
	width: 100%;
}

a {
	color: #000;
	text-align: center;
	padding: 0;
	margin: 0;
	text-decoration: none;
}

.heading {
	font-weight: 800;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 30px;
}

textarea {
	padding: 0;
}

.errorMessage {
	font-size: 14px;
	color: rgba(236, 47, 47, 0.801);
	font-family: inherit;
	font-weight: 700;
	letter-spacing: 1px;
}

.fadeIn {
	opacity: 0;
	/* transform: translateY(5%); */
	animation-name: fadeIn;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		/* transform: translateY(5%); */
	}
	to {
		opacity: 1;
		/* transform: translateY(0%); */
	}
}
