:root {
	/* background-color: #fcfcfc; */
	overflow-x: hidden;
	--color: #7548f0;
	min-height: 100vh;
	/* 8e69f1 */
}

::selection {
	color: #fff;
	background: #4400ff80;
}
body::-webkit-scrollbar {
	overflow-x: hidden;
	width: 0.5vh;
}

body::-webkit-scrollbar-thumb {
	background-color: #7653d4;
}

.cardComponent {
	box-shadow: var(--shadow);
	border-radius: 15px;
	background-color: var(--card-color);
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	border: 2px solid var(--color);
	font-weight: 500;
	font-family: inherit;
	border-radius: 10px;
	padding: 15px 10px;
	color: var(--color);
	font-size: 14px;
	width: 48%;
	transition: 0.3s all ease-in-out;
	cursor: pointer;
	user-select: none;
	text-align: center;
	background-color: var(--background-color);
}

.button svg {
	color: #7548f0;
	transition: 0.3s all ease-in-out;
}

.button:hover {
	background: var(--color);
	color: #fff;
	cursor: pointer;
}

.button:hover svg {
	color: #fff;
	cursor: pointer;
}

.buttons {
	margin-top: 5vh;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.button-full {
	width: 100%;
}

a {
	color: #000;
	text-align: center;
	padding: 0;
	margin: 0;
	text-decoration: none;
}

.heading {
	font-weight: 800;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 30px;
}

textarea {
	padding: 0;
}

.errorMessage {
	font-size: 14px;
	color: rgba(236, 47, 47, 0.801);
	font-family: inherit;
	font-weight: 700;
	letter-spacing: 1px;
}

.fadeIn {
	opacity: 1;
	animation-name: fadeIn;
	animation-duration: 0.7s;
	animation-fill-mode: forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

img {
	user-select: none;
}

.react-tag-input {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.react-tag-input > input {
	background-color: var(--input-background);
	color: var(--font-color);
	border-radius: 6px;
	padding: 1.5vh;
	width: 100%;
	outline: none;
	border: 0;
	font-family: inherit;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 1px;
	outline: none;
}
.react-tag-input__tag {
	background-color: var(--color);
	/* background-color: var(--background-color); */
	color: #fff;
	/* color: var(--font-color); */
	border: 2px solid var(--color);
	display: flex;
	margin-bottom: 15px;
	margin-right: 20px;
	padding: 5px 10px;
	border-radius: 100px;
	align-items: center;
}
.react-tag-input__tag__content {
	font-size: 12px;
	border-radius: 100px;
	padding: 0 10px 0 0;
	font-weight: 600;
}

.react-tag-input__tag__remove {
	width: 10px;
	height: 10px;
	position: relative;
	/* padding: 20px; */
}

.react-tag-input__tag__remove:before {
	position: absolute;
	top: 55%;
	left: 50%;
	content: " ";
	height: 0.7em;
	width: 0.1em;
	background-color: #fff;
	/* background-color: var(--font-color); */
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
	border-radius: 100px;
}

.react-tag-input__tag__remove:after {
	position: absolute;
	top: 55%;
	left: 50%;
	content: " ";
	height: 0.7em;
	width: 0.1em;
	background-color: #fff;
	/* background-color: var(--font-color); */
	transform: translateX(-50%) translateY(-50%) rotate(135deg);
	border-radius: 100px;
}
