.container {
	display: flex;
	flex-direction: column;
	width: 100vw;
	position: relative;
	padding-bottom: 4vh;
}

.centerContent {
	margin-top: 16vh;
	width: 45vw;
	min-width: 500px;
	margin-left: 44vh;
	/* overflow-x: hidden; */
}

@media screen and (max-width: 900px) {
	.centerContent {
		width: 90vw;
		margin-left: 5vh;
		padding-bottom: 6vh;
	}
}

@media screen and (max-width: 550px) {
	.centerContent {
		min-width: 0;
		margin-left: 2vh;
	}
}
