.container {
	display: flex;
	flex-direction: column;
	width: 100vw;
	position: relative;
	padding-bottom: 4vh;
}

.centerContent {
	padding-top: 4vh;
	margin-top: 12vh;
	width: 45vw;
	min-width: 500px;
	margin-left: 44vh;
	/* overflow-x: hidden; */
}

@media screen and (max-width: 900px) {
	.container {
		display: flex;
		flex-direction: column;
		position: relative;
		padding-bottom: 4vh;
	}

	.centerContent {
		width: 90vw;
		padding-bottom: 6vh;
		margin-left: 4.5vw;
	}
}

@media screen and (max-width: 550px) {
	.centerContent {
		min-width: 0;
	}
}
