.loginContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}

.form {
	margin: 80px;
}

.centerSignUp {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: -18px;
}

.loginComponent {
	width: 40vw;
	height: 65vh;
	min-width: 470px;
}

.orStyle {
	text-align: center;
	width: 100%;
	margin: 18px 0;
	font-weight: 700;
}

.wid {
	width: 48%;
}

.inputWidth {
	width: 80%;
	margin: 0 20px 0 0;
}
