:root,
html {
	--input-placeholder: #6e7191;
	--input-color: black;
	--input-background: #eff0f6;
	--font-color: rgb(0, 0, 0);
	--background-color: #fcfcfc;
	--link-color: #7f53f7;
	--card-color: rgb(255, 255, 255);
	--shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	--blur: inset 0 0 0 3000px rgba(255, 254, 254, 0.74);
	--second-button: #eff0f6;
	--secondary-font-color: #666666;
}

[data-theme="dark"] {
	--input-color: rgb(238, 238, 238);
	--input-background: #1b1a20;
	--font-color: rgb(238, 238, 238);
	--background-color: #1b1a20;
	--link-color: lightblue;
	--card-color: #25242a;
	--shadow: 0 4px 12px rgb(23 23 23 / 90%);
	--blur: inset 0 0 0 3000px #25242a9a;
	--second-button: #5f2eea;
	--secondary-font-color: #b8b8b8;
}

body {
	background-color: var(--background-color);
	color: var(--font-color);
}

a {
	color: var(--link-color);
}

/* Custom Dark Mode Toggle Element */

.toggle-theme-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.toggle-theme-wrapper span {
	font-size: 28px;
	margin: 0 4px;
}

.toggle-theme {
	position: relative;
	display: inline-block;
	height: 34px;
	width: 60px;
}

.toggle-theme input {
	display: none;
}

.slider {
	background-color: #ccc;
	position: absolute;
	cursor: pointer;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	transition: 0.2s;
}

.slider:before {
	background-color: #fff;
	bottom: 4px;
	content: "";
	height: 26px;
	left: 4px;
	position: absolute;
	transition: 0.4s;
	width: 26px;
}

input:checked + .slider:before {
	transform: translateX(26px);
}

input:checked + .slider {
	background-color: #7f53f7;
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
